<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Node.JS Chat</title>


    <link href="css/chat.css" rel="stylesheet">

</head>

<body>
<div id="wrapper">
    <div id="menu">
        <p class="welcome" id="welcome">Welcome <b></b></p>
        <p class="logout"><a id="exit">Logout</a></p>
        <div style="clear:both"></div>
    </div>

    <div id="chatbox"></div>

    <form name="message" id="message_form" action="">
        <input name="usermsg" type="text" id="usermsgid" size="63" wrap="hard"/>
        <input name="submitmsg" type="button"  id="submitmsg" value="Send" />
    </form>
</div>

<script src="js/jquery-1.12.1.min.js"></script>
<script src="js/chat.js"></script>

<script type="text/javascript">
    // jQuery Document
    $(document).ready(function(){

    });
</script>




</body>
</html>